<!DOCTYPE html>
<html>

<head>
    <title>Ansible Production</title>
</head>

<body>

<h1>NGINX deployed by Ansible</h1>

<p>Release version:
<strong>{{ release_version }}</strong>
</p>

</body>

</html>
